@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Inter-Medium";
  src: url("fonts/Inter-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("fonts/Inter-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Regular";
  src: url("fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter-Regular", "Helvetica", "Arial", "sans-serif";
  color: #cdcdcd;
  background-color: #000;
  font-size: 16px;

  /* Font Smoothing https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: normal !important;
}

table {
  font-size: 14px;
}

.light table tr:nth-child(even) {
  background-color: #fbfaf9;
}
.light table td {
  border: 0.5px solid #eee;
}
.light table tr {
  border: 0.5px solid #eee;
}
.light table th {
  color: #5f5f5f;
  border: 0.5px solid #eee;
}

.dark table tr:nth-child(even) {
  background-color: #161616;
}
.dark table td {
  color: #cdcdcd;
  border: 0.5px solid rgba(255, 255, 255, 0.15);
}
.dark table tr {
  border: 0.5px solid rgba(255, 255, 255, 0.15);
}
.dark table th {
  color: white;
  background-color: #161616;
  border: 0.5px solid rgba(255, 255, 255, 0.15);
}

:root {
  --nextra-primary-hue: 155deg;
}

.light {
  --nextra-primary-hue: 310deg;
}

.dark .nextra-code-block pre {
  background-color: #2b2b2b !important;
  border: 1px solid #424242 !important;
  border-radius: 6px !important;
}

.dark .nextra-code-block button {
  background-color: #2b2b2b !important;
  border: 1px solid #424242 !important;
  border-radius: 6px !important;
}

.dark .custom-header {
  color: white;
}
.light .custom-header {
  color: black;
}

.custom-callout .callout-content a {
  text-decoration: underline !important;
}

.custom-callout .callout-content a:link,
.custom-callout .callout-content a:visited {
  color: inherit !important;
}

.custom-callout.info .callout-content a:link,
.custom-callout.info .callout-content a:visited {
  color: #005bb5 !important; /* Darker shade of cf-blue-1 */
}

.custom-callout.warning .callout-content a:link,
.custom-callout.warning .callout-content a:visited {
  color: #c07500 !important; /* Darker shade of #F09600 */
}

.custom-callout.error .callout-content a:link,
.custom-callout.error .callout-content a:visited {
  color: #990000 !important; /* Darker shade of cf-red-1 */
}

.dark .custom-callout.info .callout-content a:link,
.dark .custom-callout.info .callout-content a:visited {
  color: #0a74da !important; /* Darker shade of cf-blue-2 */
}

.dark .custom-callout.warning .callout-content a:link,
.dark .custom-callout.warning .callout-content a:visited {
  color: #b45d00 !important; /* Darker shade of cf-orange-1 */
}

.dark .custom-callout.error .callout-content a:link,
.dark .custom-callout.error .callout-content a:visited {
  color: #a10000 !important; /* Darker shade of cf-red-1 */
}

.param-required-label {
  @apply !text-cf-red-1/80 font-bold ml-1 text-[12px];
}
.param-optional-label {
  @apply !text-cf-light-1/80 font-bold ml-1 text-[12px];
}
